# Ignore environment variables
.env

# Ignore dependencies
node_modules/

# Ignore log files
*.log

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore npm debug logs
npm-debug.log
yarn-debug.log
yarn-error.log